[Unit]
Description = dlminhdb

[Service]
Type             = simple
User             = root
Group            = root
LimitNOFILE      = 4096
Restart          = always
RestartSec       = 5s
StandardOutput   = append:/opt/s26dl/minh/app/std.log
StandardError    = append:/opt/s26dl/minh/app/std.log
WorkingDirectory = /opt/s26dl/minh/app
ExecStart        = /opt/s26dl/minh/app/pocketbase serve --http=0.0.0.0:10001

[Install]
WantedBy = multi-user.target
